*.php diff=php

/.github    export-ignore
/bench      export-ignore
/Tests      export-ignore
/build      export-ignore
/vendor     export-ignore
/phpunit.*  export-ignore
/phpbench.* export-ignore
/*.yml      export-ignore