* text=auto eol=lf
*.php diff=php

.git*      export-ignore
bench/     export-ignore
tests/     export-ignore
build/     export-ignore
phpunit.*  export-ignore
phpbench.* export-ignore
*.yml      export-ignore